
<h1>Hello Mr.. </h1>
<img src="../assets/DSC_0231.JPG" style="width: 400px; margin: 3px;" alt="">
<img src="../assets/DSC_0233.JPG" style="width: 400px; margin: 3px;" alt="">
<img src="../assets/DSC_0234.JPG" style="width: 400px; margin: 3px;" alt="">
<img src="../assets/DSC_0276.JPG" style="width: 400px; margin: 3px;" alt="">
<img src="../assets/DSC_0469.JPG" style="width: 400px; margin: 3px;" alt="">
<img src="../assets/DSC_0470.JPG" style="width: 400px; margin: 3px;" alt="">
<img src="../assets/DSC_0481.JPG" style="width: 400px; margin: 3px;" alt="">
<img src="../assets/DSC_0471.JPG" style="width: 400px; margin: 3px;" alt="">
<img src="../assets/DSC_0472.JPG" style="width: 400px; margin: 3px;" alt="">
<router-outlet />
